{% assign project = include.content %}

<div class="col">
  <div class="card hoverable">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ project.img | relative_url }}" class="card-img" alt="{{ project.title }}" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{ project.title }}</h3>
          <p class="card-text">{{ project.description }}</p>
          {% if project.author %}
          <p class="card-text">By {{ project.author }}</p>
          {% endif %}
          <a href="{{ project.url | relative_url }}" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>